<div class="row">
  <div class="columns small-6">
    <%= form.check_box :custom_registration_form_enabled, label: t(".custom_registration_form_enabled") %>
  </div>
  <div class="columns small-6">
    <%= form.submit "Save" %>
  </div>
</div>
